.error, .success{
    color: #ffffff;
    padding: 4px 7px;
    background: rgba(255, 0, 0, 0.747);
    width: fit-content;
    border-radius: 6px;
}
.success{
    background: rgba(0, 255, 0, 0.747);
}